.navbar{
    margin: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    width: 120px;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 18px;
    color: grey;
}

.navbar-right{
    display: flex;
    gap: 40px;
    align-items: center;
}

.navbar button{
    background: transparent;
    font-size: 16px;
    color: 49557e;
    border: 1px;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid black;
}

.navbar li{
    cursor: pointer;
}

.navbar-search-icon{
    position: relative;
}

.navbar-search-icon .dot{
    position:absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: lightsalmon;
    border-radius: 5px;
    right: -8px;
    top: -8px;
}
